@import 'global.css';

main {
  position: relative;
}

#hp-top {
  background: url('../img/spacex-background.jpg') no-repeat 00/cover;
  background-size: cover;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

#hp-tp-md-cont {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#hp-tp-calltoaction {
  position: absolute;
  z-index: 2;
  bottom: 40px;
}

#hp-tp-cta-chevron {
  border-style: solid;
  border-width: 4px 4px 0 0;
  height: 32px;
  width: 32px;
  transform: rotate(135deg);
  vertical-align: top;
  transition: border-color .15s ease-in-out;
}

#hp-tp-cta-chevron:hover {
  border-color: #E75D3C;
}

#hp-date-wrap {
  font-family: Sterilict;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 2.5rem;
  z-index: 1;
  margin-right: 40px;
}

#hp-date-wrap > span {
  width: 220px;
  text-align: center;
}

#hp-date {
  letter-spacing: .4rem;
}

#hp-year {
  letter-spacing: 1.65rem;
}

.hp-misson-cont {
  max-width: 400px;
  height: 250px;
  margin: 10px;
}

.hp-m-top {
  width: 100%;
  position: relative;
  display: flex;
}

.hp-m-top:before {
  position: absolute;
  display: block;
  content: '';
  width: 15px;
  height: 15px;
  border-left: 1px solid #E75D3C;
  border-top: 1px solid #E75D3C;
  left: -1px;
  top: -1px;
}

.hp-mt-inner, .hp-mb-inner {
  background-color: rgba(36, 40, 67, .9);
  width: 188px;
  height: 24px;
  position: relative;
}

.hp-mt-corner {
  position: relative;
  border-bottom: 12px solid rgba(36, 40, 67, .9);
  border-left: 12px solid rgba(36, 40, 67, .9);
  border-top: 12px solid transparent;
  border-right: 12px solid transparent;
}

.hp-mt-corner:after {
  content: '';
  position: absolute;
  border-right: 1px solid #E75D3C;
  height: 35px;
  width: 2px;
  top: -17px;
  left: -3px;
  transform: rotate(-45deg);
}

.hp-m-mid {
  background-color: rgba(36, 40, 67, .9);
  width: 400px;
  height: 190px;
  position: relative;
  font-family: Ubuntu;
}

.hp-m-mid:before {
  position: absolute;
  display: block;
  content: '';
  width: 15px;
  height: 15px;
  border-bottom: 1px solid #E75D3C;
  border-left: 1px solid #E75D3C;
  bottom: -1px;
  left: -1px;
}

.hp-m-mid:after {
  position: absolute;
  display: block;
  content: '';
  width: 15px;
  height: 15px;
  border-top: 1px solid #E75D3C;
  border-right: 1px solid #E75D3C;
  top: -1px;
  right: -1px;
}

.hp-m-mid > div {
  padding: 0 30px;
}

.hp-m-mid h1 {
  display: inline-block;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: normal;
  position: relative;
  top: -10px;
}

.hp-m-mid h1:after {
  content: '';
  display: block;
  height: 1px;
  width: 100%;
  background-color: white;
  margin-top: 2px;
}

.hp-m-content-wrap > div {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 15px 0;
  font-family: Ubuntu;
}

.hp-m-head {
  display: flex;
  width: 80px;
  font-size: 1.4rem;
}

.hp-m-splitter {
  display: flex;
  width: 1px;
  height: 30px;
  background-color: white;
  margin: 0 10px;
}

.hp-m-details, .hp-m-payload, .hp-m-launch-time {
  max-width: 235px;
  font-weight: 300;
}

.hp-m-readmore-wrap {
  display: flex;
  justify-content: center;
  position: relative;
  z-index: 1;
  top: -5px;
}

.hp-m-readmore-link {
  display: flex;
  width: 150px;
  flex-direction: row;
  align-items: center;
}

.hp-m-readmore-chevron {
  color: #E75D3C;
  height: 10px;
  line-height: 6px;
  margin-right: 5px;
  letter-spacing: -2px;
  font-size: 1.2rem;
}

.hp-m-readmore-txt {
  font-family: Sterilict;
  font-size: .9rem;
  letter-spacing: 3px;
  transition: color .15s ease-in-out;
}

.hp-m-readmore-wrap:hover .hp-m-readmore-txt {
  color: #E75D3C;
}

.hp-m-btm {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  position: relative;
}

.hp-m-btm:after {
  position: absolute;
  display: block;
  content: '';
  width: 15px;
  height: 15px;
  border-right: 1px solid #E75D3C;
  border-bottom: 1px solid #E75D3C;
  right: -1px;
  bottom: -1px;
}

.hp-mb-corner {
  position: relative;
  border-bottom: 12px solid transparent;
  border-left: 12px solid transparent;
  border-top: 12px solid rgba(36, 40, 67, .9);
  border-right: 12px solid rgba(36, 40, 67, .9);
}

.hp-mb-corner:after {
  content: '';
  position: absolute;
  border-right: 1px solid #E75D3C;
  height: 35px;
  width: 2px;
  top: -17px;
  left: -3px;
  transform: rotate(-45deg);
}

#hp-m-watchstream-wrap {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.hp-m-watchstream {
  display: flex;
  position: relative;
  max-width: 500px;
  z-index: 1;
  font-family: Sterilict;
  font-size: 1.3rem;
  letter-spacing: 5px;
}

.hp-mws-corner-wrap:after {
  position: absolute;
  display: block;
  content: '';
  width: 15px;
  height: 15px;
  border-right: 1px solid #ffffff;
  border-bottom: 1px solid #ffffff;
  right: -1px;
  bottom: -1px;
}

.hp-mws-corner-wrap:before {
  position: absolute;
  display: block;
  content: '';
  width: 15px;
  height: 15px;
  border-left: 1px solid #ffffff;
  border-top: 1px solid #ffffff;
  left: -1px;
  top: -1px;
}

.hp-mws-mid {
  padding: 20px 30px;
  background-color: #E75D3C;
  transition: background-color .15s ease-in-out;
}

.hp-mws-corner-left, .hp-mws-corner-right {
  width: 30px;
  height: 53%;
  background-color: #E75D3C;
  transition: background-color .15s ease-in-out;
}

.hp-mws-corner-left-edge {
  position: relative;
  border-bottom: 15px solid transparent;
  border-left: 15px solid transparent;
  border-top: 15px solid #E75D3C;
  border-right: 15px solid #E75D3C;
  transition: border-color .15s ease-in-out;
}

.hp-mws-corner-right-edge {
  position: relative;
  border-bottom: 15px solid #E75D3C;
  border-left: 15px solid #E75D3C;
  border-top: 15px solid transparent;
  border-right: 15px solid transparent;
  transition: border-color .15s ease-in-out;
}

#hp-m-watchstream-wrap:hover .hp-mws-mid, #hp-m-watchstream-wrap:hover .hp-mws-corner-left, #hp-m-watchstream-wrap:hover .hp-mws-corner-right {
  background-color: rgba(36, 40, 67, .9);
}
#hp-m-watchstream-wrap:hover .hp-mws-corner-left-edge {
  border-top: 15px solid rgba(36, 40, 67, .9);
  border-right: 15px solid rgba(36, 40, 67, .9);
}

#hp-m-watchstream-wrap:hover .hp-mws-corner-right-edge {
  border-bottom: 15px solid rgba(36, 40, 67, .9);
  border-left: 15px solid rgba(36, 40, 67, .9);
}


#hp-btm {
  background: black;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-bottom: 100px;
}

.hp-u-l-h1 {
  font-family: Sterilict;
  font-size: 2rem;
  letter-spacing: 5px;
  z-index: 2;
  margin: 20px 0;
}

.hp-upcoming-launches {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 50px;
  z-index: 2;
}

@media only screen and (max-width: 693px) {
  #hp-tp-md-cont {
    flex-direction: column;
    align-items: center;
  }
  
  #hp-date-wrap {
    margin-right: 0px;
  }
  
  .hp-m-mid {
    width: 350px;
  }

  .hp-top-mission {
    margin-top: 30px;
  }
}

@media only screen and (max-width: 550px) {
  
  .hp-m-mid {
    min-height: 260px;
    min-width: 300px;
    width: inherit;
  }

  .hp-m-content-wrap {
    margin-top: -10px;
  }

  .hp-m-content-wrap > div {
    flex-direction: column;
    align-items: flex-start;
  }

  .hp-top-mission {
    margin-top: -10px;
  }

  .hp-u-l-h1 {
    font-size: 1.5rem;
    margin-top: 40px;
    text-align: center;
  }

  .hp-upcoming-launches {
    margin-top: -10px;
    margin-bottom: 50px;
  }

  .hp-misson-cont {
    margin: 40px 0;
  }

  .hp-m-splitter {
    width: 50px;
    height: 1px;
    margin: 3px 0 5px 0;
  }

  #hp-m-watchstream-wrap {
    margin-top: 80px;
  }

  .hp-m-watchstream {
    font-size: 1rem;
  }

  .hp-mws-corner-left, .hp-mws-corner-right {
    height: 49%;
  }

  .hp-mws-mid {
  padding: 20px 0;
  }
}

@media only screen and (max-width: 693px) and (max-height: 580px) {
  #hp-tp-md-cont {
    margin-top: 150px;
  }
  #hp-btm {
    margin-top: 100px;
  }
}

@media only screen and (max-width: 550px) and (max-height: 739px) {
  #hp-tp-calltoaction {
    display: none;
  }
}